/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

body, html{
    /*height: 100%; TYRONE REMOVES THIS TO FIX SOME WEIRD VERTICAL SCROLLBAR*/
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #fe9900;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fe9900;
    color: #fff;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author: Tyrone @Fishgate
   ========================================================================== */

/*==================================== @FONTFACE ==========================*/
@font-face {
    font-family: 'museo_sans300';
    src: url('../fonts/museosans-300-webfont.eot');
    src: url('../fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-300-webfont.woff') format('woff'),
         url('../fonts/museosans-300-webfont.ttf') format('truetype'),
         url('../fonts/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;

}


html{
    background: #e0e0e0; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #e0e0e0 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e0e0e0 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e0e0e0 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e0e0e0 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e0e0e0 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

body,html{
	scrollbar-face-color: #00AFDB;
	scrollbar-shadow-color: #00AFDB;
	scrollbar-highlight-color:#00AFDB;
	scrollbar-3dlight-color: #00AFDB;
	scrollbar-darkshadow-color: #00AFDB;
	scrollbar-track-color: #0084A9;
	scrollbar-arrow-color: #C1C1D1;
        
        min-height: 100%;
        
        font-size: 13px;
        font-family: 'museo_sans300', Arial, sans-serif;
        color: #FFF;
        
}

/*Webkit based, Chrome, Safari... */
::-webkit-scrollbar {height: 8px;width:8px;background: #00AFDB;} 
/* Track */
::-webkit-scrollbar-track {-webkit-border-radius: 0px;border-radius: 0px;} 
/* Handle */
::-webkit-scrollbar-thumb {-webkit-border-radius: 0px;border-radius: 0px;background: #0084A9;}
::-webkit-scrollbar-thumb:window-inactive {background: #00AFDB;}




/* Generated by Font Squirrel (http://www.fontsquirrel.com) on June 7, 2013 */




/*====================================  MINI RESET ==========================*/
p{
   /* margin: 0 1em;
    line-height: 15px;*/
}
h1{font-size: 20px; font-weight: normal;}
h2{font-size: 12px; font-weight: normal;}
h3{font-size: 13px;}
h1, h2, h3{
    margin: 0;
    line-height: 1.1em;
}
ul{
    margin: 5px 0 15px 0;
    padding: 0 0 0 25px;
}
li{
    margin: 0;
    padding: 0;
    line-height: 1.1em;
}

a{
    text-decoration: none;
    color: #f90;
}

/*==================================== LANGUAGE DIV ==========================*/
.language-holder{
        display: block;
        position: fixed;
        right: 10px;
        top:0;
        z-index: 999;
        padding: 10px;
}
.laguage-choice{
    padding: 0 15px 0 0;
    color: #b3d4fc;
}
.language-divider{
    text-align: center;
    padding: 0 5px;
}
.language a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.language a:hover{
    color: #0084A9;
}
/*==================================== LANGUAGE MOBILE DIV ==========================*/
.language-holder-mob{
        display: none;
        position: fixed;
        left: 10px;
        top:0;
        z-index: 999;
        padding: 10px;
}
.laguage-choice-mob{
    padding: 0 15px 0 0;
    color: #b3d4fc;
}
.language-divider-mob{
    text-align: center;
    padding: 0 5px;
}
.language-mob a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
}
.language-mob a:hover{
    color: #0084A9;
}


/*====================================  NAV ==========================*/
#ipad_nav{
    display: none;
    background: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
}
#ipad_nav form{
    position: relative;
    right: 25px;
}
#navigation{
   position: fixed;
   z-index: 102!important;
   left: -250px;
   top: 0;
   height: 110%;
   background: #FFF;
   width: 300px;
   
   -webkit-box-shadow: 2px 0 2px #999;
   -moz-box-shadow: 2px 0 2px #999;
   -o-box-shadow: 2px 0 2px #999;
   box-shadow: 2px 0 2px #999;
}
#hider{
    position: absolute;
    background: #fff;
    left: 285px;
    top: 60px;
    width: 15px;
    height: 30px;
}
.decoration{
    position: relative;
    z-index: -1;
    top: 69px;
    left: 290px;
    width: 15px;
    height: 15px;
    background: #fff;
    
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    
    -webkit-box-shadow: 2px 0 2px 0 #999;
    -moz-box-shadow: 2px 0 2px 0 #999;
    -o-box-shadow: 2px 0 2px 0 #999;
    box-shadow: 2px 0 2px 0 #999;
    
    /*position: absolute;
    right: -9px;
    top: 70px;
    height: 0;
    
    border-left: 10px solid #fff;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;*/
}
.decoration_blue{
    position: absolute;
    right: 20px;
    top: 70px;
    height: 0;
    
    border-left: 10px solid #0283aa;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
}
.decoration_white{
    position: absolute;
    z-index: 999;
    right: 25px;
    top: 70px;
    height: 0;
    
    border-left: 10px solid #fff;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
}
#nav_items{
    margin: 50px 0 0 45px;
}

#nav_items a{
    text-decoration: none;
    font-size: 16px;
    color: #999;
    font-family: 'museo_sans300', Arial, Helvetica, sans-serif;
}
#nav_items a:hover{
    color: #00AFDB;
}
#copyright{
    color: #ccc;
    font-family: 'museo_sans300', Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 80px 0 0 0;
}
/*==================================== CONTENTWRAP ==========================*/
#contentwrap{
    padding: 50px 0 0 90px;
    height: 91.5%;
    width: 4500px;/*needs fixed width so BLOCKS dont wrap vertically*/
    /*background:url('../img/team.jpg') repeat fixed;*/
}
#contentwrap_1{
    padding: 50px 0 0 90px;
    height: 91.5%;
    width: 1000px;/*needs fixed width so BLOCKS dont wrap vertically*/
}
#contentwrap_2{
    margin: 50px 0 0 90px;
    height: 91.5%;
    width: 1700px;/*needs fixed width so BLOCKS dont wrap vertically*/
}
#contentwrap_3{
    margin: 50px 0 0 90px;
    height: 91.5%;
    width: 2550px;/*needs fixed width so BLOCKS dont wrap vertically*/
}
#contentwrap_4{
    margin: 50px 0 0 90px;
    height: 91.5%;
    width: 3380px;/*needs fixed width so BLOCKS dont wrap vertically*/
}
#contentwrap_5{
    margin: 50px 0 0 90px;
    height: 91.5%;
    width: 4800px;/*needs fixed width so BLOCKS dont wrap vertically*/
}
#contentwrap_6{
    margin: 50px 0 0 90px;
    height: 91.5%;
    width: 6220px;/*needs fixed width so BLOCKS dont wrap vertically*/
}
/*==================================== COLOR GROUP ==========================*/
.blue_dark{color: #0084A9;}
.blue_dark_BG{background: #0084A9;}

.blue_light{color: #00AFDB;}
.blue_light_BG{background: #00AFDB;}

.grey{color: #A7A9AC;}
.grey_BG{background: #A7A9AC;}

.white{color: #FFF;}
.white_BG{background: #FFF;}

.orange{color: #f90;}
.orange_BG{background: #f90;}

/*==================================== BLOCK SHADOWS ==========================*/
.shadowed_single{
    width: 250px;
    height: 40px;
    
    position: absolute;
    left: 0;
    z-index: -1;
    bottom: -70px;
    background: url("../img/shadow_single.png") no-repeat bottom;
    
    pointer-events: none;
}
.shadowed_double{
    width: 510px;
    height: 40px;
    
    position: absolute;
    left: 0;
    z-index: -1;
    bottom: -70px;
    background: url("../img/shadow_double.png");
    
    pointer-events: none;
}

/*==================================== MEET THE TEAM styles ==========================*/
.team_member_img { margin-top: 3px; }


/*==================================== CAREER styles ==========================*/
.ref{color: #fff; padding: 3px; position: absolute; top: 0; right: 0;}
.btn{color: #fff!important; padding: 5px; position: absolute; bottom:0; right: 0;}

/*==================================== BLOCK styles ==========================*/
.block{
    /*background: pink;*/
    width: 780px;
    /*height: 520px;490px w/o shadow*/
    /*padding: 5px;*/
    
    /*margin: 0 50px 0 0;*/
}

.block div.left a {
    display: block;
}

.block_single {
    width: 260px;
}

.block_double {
    width: 520px;
}

.inner_single{
    width: 190px;
    height: 90px;
    padding: 30px;
    margin: 5px;
    /*overflow: hidden;*/
    
    position: relative;
}

.inner_single_team{
    width: 156px;
    height: 90px;
    padding: 30px 20px;
    margin: 5px;
    position: relative;
}



.inner_double{
    width: 450px;
    height: 90px;
    padding: 30px;
    margin: 5px;
    position: relative;
}

.inner_single_rowspan2{
    height: 250px;
    width: 190px;
    padding: 30px;
    margin: 5px;
    /*margin-bottom: 0;*/
    display: inline-block;
    position: relative;
    /*overflow: hidden;*/
}

.inner_single_rowspan2_team{
    height: 250px;
    width: 136px;
    padding: 30px;
    margin: 5px;
    /*margin-bottom: 0;*/
    display: inline-block;
    position: relative;
    /*overflow: hidden;*/
}


.inner_double_rowspan2{
    height: 250px;
    width:450px;
    padding: 30px;
    margin: 5px;
    position: relative;
    /*overflow: hidden;*/
}
.inner_tripple_rowspan2{
    height: 250px;
    width:710px;
    padding: 30px;
    margin: 5px;
    position: relative;
}
.inner_tripple_rowspan3{
    height: 410px;
    width:710px;
    padding: 30px;
    margin: 5px;
    position: relative;
}
.inner_double_rowspan3{
    height: 410px;
    width:450px;
    padding: 30px;
    margin: 5px;
    position: relative;
}
.inner_full{
    height: 410px;
    width:710px;
    padding: 30px;
    margin: 5px;
    position: relative;
}
.inner_full_rowspan2{
    height: 250px;
    width:710px;
    padding: 30px;
    margin: 5px;
    position: relative;
}

.inner_single_colspan3{
    margin: 5px;
    padding: 30px;
    height: 90px;
    position: relative;
    overflow: hidden;
}

.no_padding_single{
    padding: 0;
    width: 250px;
    height: 150px;
}
.no_padding_single_rowspan2{
    padding: 0;
    width: 250px;
    height: 310px;
}

.no_padding_single_rowspan2_team{
    padding: 0;
    width: 196px;
    height: 310px;
}

.no_padding_double{
    padding: 0;
    width: 510px;
    height: 310px;
    position: relative
}
.no_padding_double_video{
    padding: 0;
    width: 510px;
    height: 310px;
    background: rgba(0, 0, 0, 0.9);
}


.icon{
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 101;
}

.half{
    width: 50%;
}

/*==================================== SLIDESHOW NEXT / PREV ==========================*/
.slideshow_text a {
    display: inline !important;
}

.slideshow_text .slide{
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    width: 450px;
}
.slideshow_text{
    position: absolute;
    bottom: -80px;
    left: 0;
    
}
.slideshow{
    width: 510px;
    height: 310px;
}
#next{
    position: absolute;
    z-index: 99;
    top: 30px;
    right: 30px;
}
#prev{
     position: absolute;
     z-index: 99;
     top: 30px;
     right: 80px;
}

#next, #prev{
    cursor: pointer;
}



/*==================================== FANCY OVERLAYS ==========================*/
/*---------- STYLES FOR JS OVERLAY CONTROL(TEXT BLOCKS)---*/
.link_block .overlay{
    position: absolute;
    z-index: 100;
    /*top: 151px;*/
    top: 0;
    left: 0;
    background: rgba(0, 175, 219, 0.9);
    width: 100%;
    height: 100%;
    
    opacity: 0;
}

.link_block .overlay_double_rowspan2{
    position: absolute;
    z-index: 100;
    /*top: 310px;*/
    top: 0;
    left: 0;
    background: rgba(0, 175, 219, 0.9);
    width: 100%;
    height: 100%;
    
    opacity: 0;
}

.link_block .overlay_single_col2{
    position: absolute;
    z-index: 100;
    /*top: 310px;*/
    top: 0;
    left: 0;
    background: rgba(0, 175, 219, 0.9);
    width: 100%;
    height: 100%;
    
    opacity: 0;
}

/*---------- STYLES FOR JS OVERLAY CONTROL(TEXT BLOCKS)---*/
.link_block_graphic .overlay{
    position: absolute;
    z-index: 100;
    /*top: 151px;*/
    top: 0;
    left: 0;
    background: rgba(0, 175, 219, 0.9);
    width: 100%;
    height: 0;
}

.link_block_graphic .overlay_double_rowspan2{
    position: absolute;
    z-index: 100;
    /*top: 310px;*/
    top: 0;
    left: 0;
    background: rgba(0, 175, 219, 0.9);
    width: 100%;
    height: 0;
}

.link_block_graphic .overlay_single_col2{
    position: absolute;
    z-index: 100;
    /*top: 310px;*/
    top: 0;
    left: 0;
    background: rgba(0, 175, 219, 0.9);
    width: 100%;
    height: 0;
}
/*---- Overlay Titles ----*/
.title{
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    color: #fff;
    display: none;
}

/*==================================== BUTTON STYLES ==========================*/

.button{
    padding: 11px 23px;
    display: inline-block;
}
.button:hover{
    cursor: pointer;
    
}


/*==================================== QUOTED TEXT ==========================*/
.quoted_text{
    padding: 3%;
    width: 67%;
}
.parenthesis_holder{
    position: relative;
    height: 100%;
}
.parenthesis_close{
    position: absolute;
    bottom: 0;
}

/*==================================== FORM STYLES ==========================*/
input, textArea{
    width: 310px;
    padding: 15px;
    margin: 0 0 15px 0;   
}
textArea{
    resize: none;
    height: 145px;
    margin: 0 0 5px 0;
}
/*==================================== COVERALL DIV ==========================*/
#coverall{
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
}

/*==================================== GENERIC HEADINGS ==========================*/
.generic_heading{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.25em;
    position: relative;
    z-index: 100;
}
.generic_heading_h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.25em;
}
.generic_heading_h3{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.25em;
}
.generic_heading_h2_cap{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: normal;
    line-height: 1.25em;
}
.inline_block {
    display: inline-block;
}
.border_top_white{
    border-top: 1px solid #fff;
}
.border_bottom_white{
    border-bottom: 1px solid #fff;
}
.border_top_grey{
    border-top: 1px solid #adaeb3;
}
.border_bottom_grey{
    border-bottom: 1px solid #adaeb3;
}
.trans_caps {
    text-transform: capitalize !important;
    padding-top: 1px;
}
.negative_marg_top {
    margin-top: -4px;
}


/*	--------------------------------------------------
   	Video
   	Mad props to http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/
	-------------------------------------------------- */
	
	.flex-video {
		position: relative;
		padding-top: 25px;
		padding-bottom: 67.5%;
		height: 0;
		margin-bottom: 16px;
		overflow: hidden;
                z-index: 0;
	}
	
	.flex-video.widescreen { padding-bottom: 57.25%; }
	.flex-video.vimeo { padding-top: 0; }
	
	.flex-video iframe,
	.flex-video object,
	.flex-video embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.left{
    float: left;
}
.right{
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



/* GALAXY TAB 10.1 - GALAXY NOTE 2 (Portrait)----------------- */
@media (max-device-width: 800px) and (orientation: portrait) { 
    #contentwrap, #contentwrap_1, #contentwrap_2, #contentwrap_3, #contentwrap_4, #contentwrap_5, #contentwrap_6{
        width: 780px!important;
        margin: 60px auto 10px auto!important;
    }
    .shadowed_single, .shadowed_double{display: none;}
    /*============= NAV ========*/
    #navigation{
        display: none;
    }
    #ipad_nav{
        display: block;
    }
    .language-holder{
        display: none;
    }
    .language-holder-mob{
        display: block;
    }
}

/* GALAXY TAB 10.1 - GALAXY NOTE 2 (Landscape)----------------- */
@media (max-device-width: 1280px) and (orientation: landscape) { 
    #contentwrap, #contentwrap_1, #contentwrap_2, #contentwrap_3, #contentwrap_4, #contentwrap_5, #contentwrap_6{
        margin-left: 0;
    }
    
    /*============= NAV ========*/
    #navigation{
        display: none;
    }
    #ipad_nav{
        display: block;
        width: 100%;
    }
    .shadowed_single, .shadowed_double{display: none;}
    
    .language-holder{
        display: none;
    }
    .language-holder-mob{
        display: block;
    }
    
    /*==================================== CONTENTWRAP ==========================*/
    #contentwrap{
        width: 4500px;/*needs fixed width so BLOCKS dont wrap vertically*/
        /*background:url('../img/team.jpg') repeat fixed;*/
    }
    #contentwrap_1{
        width: 1000px!important;/*needs fixed width so BLOCKS dont wrap vertically*/
    }
    #contentwrap_2{
        width: 1700px!important;/*needs fixed width so BLOCKS dont wrap vertically*/
    }
    #contentwrap_3{
        width: 2550px!important;/*needs fixed width so BLOCKS dont wrap vertically*/
    }
    #contentwrap_4{
        width: 3380px!important;/*needs fixed width so BLOCKS dont wrap vertically*/
    }
    #contentwrap_5{
        width: 4800px!important;/*needs fixed width so BLOCKS dont wrap vertically*/
    }
}


/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : Portrait)
{
    #contentwrap, #contentwrap_1, #contentwrap_2, #contentwrap_3, #contentwrap_4, #contentwrap_5, #contentwrap_6{
        width: 780px!important;
        margin-left: 0;
        padding-left: 0;
    }
    
    .language-holder{
        display: none;
    }
    .language-holder-mob{
        display: block;
    }
    
    .shadowed_single, .shadowed_double{display: none;}
    /*============= NAV ========*/
    #navigation{
        display: none;
    }
    #ipad_nav{
        display: block;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
   #contentwrap, #contentwrap_1, #contentwrap_2, #contentwrap_3, #contentwrap_4, #contentwrap_5, #contentwrap_6{
        width: 100%!important;
    }
    .shadowed_single, .shadowed_double{display: none;}
    
    .language-holder{
        display: none;
    }
    .language-holder-mob{
        display: block;
    }
    
    /*==================================== CONTENTWRAP ==========================*/
    #contentwrap{
        width: 4500px;/*needs fixed width so BLOCKS dont wrap vertically*/
        /*background:url('../img/team.jpg') repeat fixed;*/
    }
    #contentwrap_1{
        width: 1000px!important;/*needs fixed width so BLOCKS dont wrap vertically*/
    }
    #contentwrap_2{
        width: 1700px!important;/*needs fixed width so BLOCKS dont wrap vertically*/
    }
    #contentwrap_3{
        width: 2550px!important;/*needs fixed width so BLOCKS dont wrap vertically*/
    }
    #contentwrap_4{
        width: 3380px!important;/*needs fixed width so BLOCKS dont wrap vertically*/
    }
    #contentwrap_5{
        width: 4800px!important;/*needs fixed width so BLOCKS dont wrap vertically*/
    }
}




@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
